p {
    font-family: serif;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #1e272e;
}

a {
    text-decoration: none;
}

a:hover {
    color: #05c46b;
}

a:visited {
    color: #706fd3;
}

body {
    max-width: 90%;
    margin: 0 4rem;
    background-color: #ecf0f1;  
    background-image: url();
    background-repeat: no-repeat;
    background-position: bottom right;
    line-height: 1.4rem;
}

header {
    margin-top: 2.3rem;   
}

header > h1 {
    background-color: #f6b93b;
}

blockquote {
    width: 50%;
    margin: 80px auto;
    background: #d1d8e0;
    border-left: 3px solid #b22222;
    padding: 30px;
    line-height: 1.6rem;
}

blockquote > p {
    font-style: italic;
    line-height: 2rem;
}

blockquote figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote figure img {
    object-fit: cover;
    width: 540px;
}

q {
    font-size: 160%;
}

.villagers::before {
    color: #3498db;
}

.farmer::before {
    color: #d35400;
}

.good {
    text-transform: capitalize;
    color: green;
}

.bad {
    text-transform: capitalize;
    color: red;
}

#table {
    border-collapse: collapse;
    width: 300px;
}

#table th {
    background-color: #48565a;
    color: #fff;
}

#table td, #table th {
    border: 1px solid black;
}

#table tr:nth-child(even) {
    background-color: #fff;  
}

#table tr:nth-child(odd) {
    background-color: #dfe6e9;
}

.good-i {
    list-style-image: url('images/bien.png');
    background-size: 5px;
}

.bad-i {
    list-style-image: url('images/mal.png');
}

.cat {
    list-style-image: url('images/chat.png');
}

.people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.people img {
    height: 320px;
    border-radius: 5px;
}

.love {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.love img {
    height: 320px;
    margin-top: 1.7rem;
    border-radius: 5px;
}

article {
    margin-left: 2.2rem;
}







